/*Menu de navegação*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	width: 100%;
	position: fixed;
	top: 0;
}

li {
    float: left;
	width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 1.5vw;
}


/* Muda a cor do link #111 (preto) com hover */
li a:hover {
    background-color: #111;
}
/*fim do menu de navegação*/
	
	<meta name="viewport" content="width=device-width, initialscale=1.0">